@using ActiveCitizenWeb.StaticContentCMS.ViewModel.Navigation;
@{
    ViewBag.Title = "Активный гражданин";
}
@*
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
*@
<div class="row">
    @{
    var context = this.Context.GetOwinContext();
    foreach (NavigationElement element in ViewBag.NavigationElements)
    {
    if (element.IsVisible(context))
    {
    <div class="col-md-4">
        <h2>@element.Title</h2>
        <p>@element.Description
        </p>
        <p><a class="btn btn-default" href="@Url.Action(element.ActionName, element.ControllerName)">Перейти &raquo;</a></p>
    </div>
    }
    }
    }
</div>