body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

tr.header {
    background-color:lightgray;
    font-weight: bold;
}

table.questions {
    width: 100%;
}

div.fill {
    width: 100%;
}

div.fit-left {
    display: inline-block;
    width: 50%;
    text-align: left;
    float: left;
}

div.fit-right {
    display: inline-block;
    width: 50%;
    text-align: right;
}

textarea.question-area {
    width: 100%;
}

div.validation-error {
    color: red;
}

.field-validation-valid {
    visibility: hidden;
}

.field-validation-error {
   color: red;
}

