@model ActiveCitizen.Model.StaticContent.FAQ.FaqListCategory

@{
    ViewBag.Title = "EditCategory";
}

<div>
    <div class="fit-left">
        <h2>Редактировать раздел</h2>
    </div><div class="fit-rigth">
        <h3><a href="~/FAQ/EditCategories">Обратно к списку разделов...</a></h3>
    </div>
</div>

<div class="fill">
    <form action="~/FAQ/SaveCategory" class="fill" method="post">
        <b>Название раздела:</b><br />
        @Html.TextAreaFor(m => m.Name, new { @class = "question-area" })
        <br /><br />
        <b>Выберите очередность в которой будет отображаться раздел:</b>
        @Html.TextBoxFor(m => m.Order)
        <br /><br />

        @Html.HiddenFor(m => m.Id)
        <input type="submit" value="Сохранить изменения" />
    </form>
</div>


