@model ActiveCitizenWeb.StaticContentCMS.ViewModel.FAQ.CategoriesVM

@{
    ViewBag.Title = "EditCategories";
}

<div>
    <div class="fit-left">
        <h2>Редактировать разделы</h2>
    </div><div class="fit-rigth">
        <h3><a href="../FAQ">Редактировать вопросы</a></h3>
    </div>
</div>

